:root{
  --dark:#1E1552;
  --lightMain:#ff4500;
  --lightSecond:#FF6700;
  --gold:#ffd700;
  --accent:#ffdab9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--dark);
  color:var(--gold);
}

a{
  text-decoration: none;
  color: inherit;
}

.bodydiv{
  background-color: rgba(0,0,0,0.2);
  height:98vh;
  width: 98vw;
  overflow-y: auto;
  padding: 1vh 1vw;
}

.headerdiv{
  border: solid 10px rgba(0,0,0,0.2);
  padding: 2vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 19fr;
  grid-column-gap: 2vw;
}

.icondiv{
  cursor: pointer;
}

#logoiconsvg{
  height: 7vh;
  width: auto;
}

#naviconsvg{
  height: 7vh;
  width: auto;
}

#logoiconpath{
  transition: 0.1s;
}

#naviconpath{
  transition: 0.1s;
}

.icondiv:hover #logoiconpath{
  fill:var(--gold);
  transition: 0.1s;
}

.icondiv:hover #naviconpath{
  fill:var(--gold);
  transition: 0.1s;
}

.navicondiv{
  display:none;
}

.navdiv{
  display: table;
  text-align: center;
  height: 100%;
  margin-left: 35vw;
  margin-right: 0;
}

.navdiv .navbtndiv{
  display: table-cell;
  vertical-align: middle;
  width: 33%;
}

.navdiv .navbtndiv a{
  border: solid 3.5px var(--lightSecond);
  color: var(--lightSecond);
  display: inline-block;
  padding: 1vh;
  width: 10vw;
  opacity: 0.8;
  transition:0.2s;
}

.navdiv .navbtndiv a:hover{
  border-color: var(--lightMain);
  color:var(--accent);
  background-color:var(--lightSecond);
  opacity:0.9;
  transition:0.2s;
  font-weight: bold;
}

.contentdiv{
  text-align: justify;
  margin-top:2vh;
  width: inherit;
}

.logodiv{
  display: table;
  border-spacing: 4.5vh;
  width: inherit;
}

.logodiv>div{
  display: table-row;
  text-align: center;
}

#logosvg{
  height: 5vh;
  width:auto;
}

#logopath{
  fill:var(--gold);
  opacity: 0.9;
}

.quotediv{
  font-size: 3em;
  font-family: adobe-garamond-pro, serif;
  font-weight: 600;
  font-style: italic;
  color:var(--gold);
}

.sideheaderdiv{
  display:none;
  z-index: 2;
}



/*Responsive Queries*/
@media screen and (max-width:700px){

  .headerdiv{
    border-width: 5px;
    display: inline-block;
  }

  .headerdiv:hover{
    cursor:pointer;
  }

  .headerdiv:hover #naviconpath{
    cursor:pointer;
    fill: var(--gold);
    transition: 0.1s;
  }

  .logoiconanchor{
    display: none;
  }

  .navicondiv{
    display:block;
    cursor: pointer;
  }

  #naviconsvg{
    height: 4vh;
  }

  .navdiv{
    display:none;
  }

  .sideheaderdiv{
    display:none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--dark);
    top:0;
    left:0;
    padding: 1vh 1vw;
    grid-template-columns: 1fr 10fr;
  }

  #closeicon{
    height: 4vh;
    width: auto;
    padding: 2vh;
    border:solid 5px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  #closeiconpath{
    fill: var(--lightMain);
    transition: 0.1s;
  }

  #closeicon:hover #closeiconpath{
    fill: var(--gold);
    transition: 0.1s;
  }

  .sidenavdiv a{
    text-align: center;
    height: 8vh;
    font-size: 20px;
    padding-top: 2vh;
    display: block;
  }

  a .sidenavbtndiv{
    padding: 2vw;
    transition: 0.1s;
  }

  .sidenavdiv a:hover .sidenavbtndiv{
    color: var(--lightMain);
    transition: 0.1s;
  }

  .logodiv{
    border-spacing: 3vh;
  }

  #logosvg{
    height: 2.5vh;
  }

  .quotediv{
    font-size: 1.5em;
  }
}
